<!-- <div class="all">

  <div class="card-wrapper">
    <div class="card" *ngFor="let el of foods">

      <div class="product-imgs">
        <div class="img-display">
          <div class="img-showcase">
            <img src="{{el.imageUrl}}" alt="food image">

          </div>
        </div>

      </div>

      <div class="product-content">
        <h2 class="product-title">{{el.name}} <span class="favorite {{el.favorite?'':'not'}}">❤</span></h2>
        <div>
          <app-star-rating></app-star-rating>
        </div>


        <div class="origin mt-1">
          <span *ngFor="let el of el.origins">{{el}}</span>
        </div>
        <div class="tags mt-1">
          <span class="m-lg-1" *ngFor="let el of el.tags" routerLink="/tag/{{el}}">| {{el}}</span>
        </div>
        <div class="product-price">

          <p class="new-price">Price: <span>${{el.price}}</span></p>
        </div>
        <div class="cook-time">
          <span>time to cook about <strong>{{el.cookTime}}</strong> minutes</span>
        </div>

        <div class="product-detail mt-2">
          <h2>about this item: </h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat
            sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>


        </div>

        <div class="purchase-info">
          <input class="input" type="number" min="0" value="1">
          <button type="button" class="main-btn m-2">
            Add to Cart <i class="fas fa-shopping-cart"></i>
          </button>

          <button type="button" class="main-btn m-2" (click)="gotoChekout()">Buy</button>
        </div>


      </div>
    </div>
  </div>

</div> -->
<div class="all">
  <!-- section3start ----------------------------------------------->
  <section id="About">
    <div class="about-section wrapper">
      <div class="container">
        <div class="row align-item-center">
          <div class="col-lg-6 col-md-12 mb-lg-0 mb-5">
            <img src="{{foods.imageUrl}}" class="img-fluid" alt="food image">
          </div>
          <div class="col-lg-6 col-mb-12 ps-lg-5">

            <h2 class="product-title">{{foods.name}} <span class="favorite {{foods.favorite?'':'not'}}">❤</span></h2>

            <p><app-star-rating [stars]="foods.stars"></app-star-rating></p>

            <div class="origin mt-1">
              <span *ngFor="let el of foods.origins">{{el}}</span>
            </div>
            <div class="tags mt-1">
              <span class="m-lg-1" *ngFor="let el of foods.tags" routerLink="/tag/{{el}}">| {{el}}</span>
            </div>
            <div class="product-price m-1">

              <p class="new-price">Price: <span
                  style="color: red; font-weight: 900; font-size: x-large;">${{foods.price}}</span></p>
            </div>
            <div class="cook-time">
              <span>time to cook about <strong>{{foods.cookTime}}</strong> minutes</span>
            </div>



            <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto numquam rerum pariatur
              maxime quia
              neque
              voluptatibus dolorum saepe delectus tenetur placeat hic totam natus, nam commodi ducimus, culpa autem
              debitis?</p>


            <div class="purchase-info">
              <input class="input" type="number" min="0" value="1">
              <button type="button" class="main-btn m-2" (click)="addToCart()">
                Add to Cart <i class="fas fa-shopping-cart"></i>
              </button>

              <button type="button" class="main-btn m-2" (click)="gotoChekout()">Buy</button>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>


  <!-- section3end ----------------------------------------------->

</div>