<!-- storysectionstart------------------------------------------------------------ -->
<section id="story">
  <div class="story-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="text-content">
            <h2>
              Sorry! No result found
            </h2>
            <p>we are sorry what you were looking for.Please try another way.</p>
            <button (click)="gotoHomepage()" class="main-btn">go To HomePage</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- storysectionEnd------------------------------------------------------------------ -->